<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime al cinema in Italia</title>

  <style>
    body {
      max-width: 47em;
      margin: 0 auto;
      line-height: 1.5;
    }
  </style>
</head>
<body>