<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime al cinema in Italia</title>

  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    body {
      display: flex;
      flex-direction: column;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 300;
      background-color: rgb(52.5, 52.5, 52.5);
    }

    main {
      flex: 1;
      text-align: center;
      margin: 0 auto;
    }

    footer {
      font-size: .8em;
      color: #ccc;
      text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
      text-transform: uppercase;
      margin-top: .5em;
      margin-bottom: .5em;
      font-weight: 300;
    }

    h1, h2, h3, h4, h5, h6, p, ul, ol {
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.5;
    }

    section {
      padding: 1rem;
      background: #eee;
      border-radius: 1rem;
      margin: 1rem;
    }

    .hero {
      background-color: #555;
      color: #eee;
      padding: 2em;
      text-align: center;
      background-size: cover;
      background-position: center;
      margin-bottom: -27em;
      padding-bottom: 30rem;
    }

    .hero h1 {
      text-shadow: 0 0 3px black;
      font-weight: bold;
    }

    .movie-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .movie-list-item {
      margin-top: 1em;
      max-width: 220px;
      flex: 0 0 calc(50% - 1rem);
      box-sizing: border-box;
    }

    .movie-list-item-poster {
      width: 100%;
    }
  </style>

  <!-- Last build: <%= new Date() %> -->
</head>
<body>
