<%
function formatDate(date) {
  const d = date instanceof Date ? date : new Date(date);
  return new Intl.DateTimeFormat('it', {
    dateStyle: 'full',
    // timeStyle: 'long',
    // timeZone: 'Australia/Sydney',
  }).format(d)
}
%>

<div class="movie-list-item">
  <h3><%= movie.title %></h3>
  <div style="color:#555">
    Da <%= formatDate(movie.release_date) %> 
    <% if (movie.end_date) { %>
      a <%= formatDate(movie.end_date) %>
    <% } %>
  </div>
</div>