<%
function formatDate(date) {
  const d = date instanceof Date ? date : new Date(date);
  return new Intl.DateTimeFormat('it', {
    dateStyle: 'full',
    // timeStyle: 'long',
    // timeZone: 'Australia/Sydney',
  }).format(d)
}
%>

<div class="movie-list-item">
  <% if (movie.tmdbMovie?.poster_path) { %>
    <img src="/images/w342<%= movie.tmdbMovie.poster_path %>" />
  <% } %>
  <h3><%= movie.title %></h3>
  <% if (movie.theaterReleaseDate) { %> 
  <div style="color:#555">
    Da <%= formatDate(movie.theaterReleaseDate) %> 
    <% if (movie.theaterEndDate) { %>
      a <%= formatDate(movie.theaterEndDate) %>
    <% } %>
  </div>
  <% } %>
</div>