# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: write
      pages: write
      id-token: write

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run fetch
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
    - run: npm run build --if-present
      env:
        BASE_PATH: /animealcinema
        FULL_URL: https://matita.github.io
    - name: Commit build
      run: |
        git config --global user.name 'Matteo'
        git config --global user.email 'matitald+animealcinema@gmail.com'
        git add .
        git commit -am "Automated build"
        git push
    - name: Setup Pages
      uses: actions/configure-pages@v4
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: './_site'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
